name: Tests

on:
  push:
    branches-ignore:
      # Renovate branches are always Pull Requests.
      # We don't need to run CI twice (push+pull_request)
      - "renovate/**"
  pull_request:

permissions: {}

jobs:
  test_unit:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false
      - name: Use Node.js 22.x
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22.18.0
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - name: Test JSDOM
        run: |
          pnpm test:unit:jsdom --reporter=blob --reporter=dot
        env:
          COREPACK_ENABLE_DOWNLOAD_PROMPT: "0"
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: test-results-unit
          path: test-results/

  test_browser:
    name: Browser tests (${{ matrix.project }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project:
          - "x-data-grid*"
          - "x-charts*"
          - "x-date-pickers*"
          - "x-tree-view*"
          - "x-scheduler*"
          - "x-license x-telemetry x-virtualizer x-internal-gestures"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false
      - name: Use Node.js 22.x
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22.18.0
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - name: Install Playwright Chromium
        run: pnpm exec playwright install --with-deps chromium
      - name: Test Browser
        run: |
          PROJECTS=""
          for p in ${{ matrix.project }}; do
            PROJECTS="$PROJECTS --project $p"
          done
          node ./scripts/playwrightLaunchServer.mjs &
          # Wait for the Playwright server to be ready
          while ! nc -z 127.0.0.1 9050 2>/dev/null; do sleep 0.1; done
          pnpm test:unit:browser --reporter=blob --reporter=dot --coverage $PROJECTS
        env:
          TZ: UTC
          PLAYWRIGHT_SERVER_WS: "ws://127.0.0.1:9050/mui-browser"
          COREPACK_ENABLE_DOWNLOAD_PROMPT: "0"
      - name: Upload coverage to Codecov
        if: always()
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          flags: stable-browser
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: test-results-browser-${{ strategy.job-index }}
          path: test-results/

  test_browser_report:
    name: Browser tests report
    runs-on: ubuntu-latest
    needs: test_browser
    if: always()
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false
      - name: Use Node.js 22.x
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22.18.0
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - name: Download blob reports
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          pattern: test-results-browser-*
          path: test-results/
          merge-multiple: true
      - name: Merge reports
        run: pnpm exec vitest run --merge-reports
        env:
          COREPACK_ENABLE_DOWNLOAD_PROMPT: "0"
